image {
	overflow: hidden;
}

.container {
	/* background: url(); */
	background: url(../imagessource/ubut3.jpg);
	background-size: cover;
}

.kenburns-left {
	animation: kenburns-left 3s ease-out both;
}

#pop,
#pop2,
.img {
	width: 600px;
	height: 400px;
	transition: ease-in 0.3s;
}

#frame {
	position: absolute;
	width: 600px;
	height: 400px;
	z-index: 50;
	display: none;
}
#pop,
#pop2 {
	display: none;
}

#img1_txt {
	display: none;
	position: absolute;
	right: 40%;
	top: 60%;
	color: rgb(255, 46, 203);
	font-family: "Sacramento", cursive;
	font-size: 2.5rem;
}

#img2_txt {
	display: none;
	position: absolute;
	left: 30%;
	top: 45%;
	color: rgb(216, 147, 56);
	font-family: "Sacramento", cursive;
	font-size: 2.5rem;
}

.flicker-4 {
	-webkit-animation: flicker-4 4s linear infinite both;
	animation: flicker-4 4s linear infinite both;
}
.remove {
	display: none;
}

.show {
	display: block;
}

#upper_img {
	display: none;
	width: 800px;
}

@-webkit-keyframes flicker-4 {
	0%,
	100% {
		opacity: 1;
	}
	31.98% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	32.8% {
		opacity: 0;
	}
	32.82% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.7% {
		opacity: 0;
	}
	35.72% {
		opacity: 1;
	}
	36.98% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	37.6% {
		opacity: 0;
	}
	37.62% {
		opacity: 1;
	}
	67.98% {
		opacity: 1;
	}
	68% {
		opacity: 0;
	}
	68.4% {
		opacity: 0;
	}
	68.42% {
		opacity: 1;
	}
	95.98% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	96.7% {
		opacity: 0;
	}
	96.72% {
		opacity: 1;
	}
	98.98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	99.6% {
		opacity: 0;
	}
	99.62% {
		opacity: 1;
	}
}
@keyframes flicker-4 {
	0%,
	100% {
		opacity: 1;
	}
	31.98% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	32.8% {
		opacity: 0;
	}
	32.82% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.7% {
		opacity: 0;
	}
	35.72% {
		opacity: 1;
	}
	36.98% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	37.6% {
		opacity: 0;
	}
	37.62% {
		opacity: 1;
	}
	67.98% {
		opacity: 1;
	}
	68% {
		opacity: 0;
	}
	68.4% {
		opacity: 0;
	}
	68.42% {
		opacity: 1;
	}
	95.98% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	96.7% {
		opacity: 0;
	}
	96.72% {
		opacity: 1;
	}
	98.98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	99.6% {
		opacity: 0;
	}
	99.62% {
		opacity: 1;
	}
}

@keyframes kenburns-left {
	0% {
		transform: scale(1) translate(0, 0);
		transform-origin: 16% 50%;
	}
	100% {
		transform: scale(1.25) translate(-20px, 15px);
		transform-origin: left;
	}
}
